name: CI/CD Docker Build and Deploy

on:
  push:
    branches:
      - main # Solo se ejecuta cuando hay un push a la rama 'main'

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }} 
          password: ${{ secrets.DOCKER_PASSWORD }} 

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/oweenbot:latest # Debe coincidir con lo que pusiste en Dokploy
          # Opcionalmente, puedes usar un tag dinámico basado en el hash del commit
          # tags: ${{ secrets.DOCKER_USERNAME }}/oweenbot:${{ github.sha }}

      - name: Trigger Dokploy Deployment Webhook
        env:
        # Usas DOKPLOY_WEBHOOK en tu YAML anterior, así que mantenemos el nombre
          DOKPLOY_WEBHOOK_URL: ${{ secrets.DOKPLOY_WEBHOOK }} 
        run: |
                # --fail: Hace que el action falle si Dokploy devuelve 4xx/5xx.
                # -v: Muestra los headers de la respuesta (verbose).
                # -L: Sigue redirecciones (útil si hay un proxy o 301).
                echo "Disparando Webhook: $DOKPLOY_WEBHOOK_URL"
                curl -X POST --fail -v -L "$DOKPLOY_WEBHOOK_URL"